<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body bgcolor=#7bb7e3>
    <div style = "position:relative; top:200px;">
        <center>
            <form action="/predict", method="POST", enctype="multipart/form-data">
                <input type='file' name='file' accept=".png, .jpg, .jpeg">
                <input type="submit">
            </form>
        </center>
    </div>
    
</body>
</html>